<%- include("partials/header") -%>

<h1>Contact</h1>
<p><%= contactC %> </p>
<input type="email" name="" value="" placeholder="Tap your email">
<button type="submit" class="btn btn-large btn-primary" name="button">Add</button>

<%- include("partials/footer") -%>
